@import "../../../variables.less"; 
@import "../../../mixins.less";

@peopleCardParentMargin: 22px;
@peopleCardMaxHeight: 227px;
@peopleCardParentMaxHeight: @peopleCardParentMargin + @peopleCardMaxHeight;

.searchCard {
  @import "../ProfileCard/Style.less";

  .btn {
    box-sizing: border-box;
  }
}
