/**
*    generated style of text for terms and conditions
**/

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_list_8-1>li {
    counter-increment: lst-ctn-kix_list_8-1
}

ol.lst-kix_list_8-2.start {
    counter-reset: lst-ctn-kix_list_8-2 0
}

ul.lst-kix_list_9-3 {
    list-style-type: none
}

ul.lst-kix_list_9-4 {
    list-style-type: none
}

ul.lst-kix_list_9-1 {
    list-style-type: none
}

ul.lst-kix_list_9-2 {
    list-style-type: none
}

ul.lst-kix_list_9-7 {
    list-style-type: none
}

ul.lst-kix_list_9-8 {
    list-style-type: none
}

ul.lst-kix_list_9-5 {
    list-style-type: none
}

ul.lst-kix_list_9-6 {
    list-style-type: none
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

ul.lst-kix_list_9-0 {
    list-style-type: none
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

ol.lst-kix_list_8-8.start {
    counter-reset: lst-ctn-kix_list_8-8 0
}

ol.lst-kix_list_8-7.start {
    counter-reset: lst-ctn-kix_list_8-7 0
}

.lst-kix_list_5-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_5-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_5-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_8-3>li {
    counter-increment: lst-ctn-kix_list_8-3
}

.lst-kix_list_5-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_5-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_5-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_5-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_5-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_5-5>li:before {
    content: "\0025a0  "
}

.lst-kix_list_6-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_6-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_6-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_6-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_6-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_6-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_6-5>li:before {
    content: "\0025a0  "
}

.lst-kix_list_6-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_6-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_7-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_7-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-5>li:before {
    content: "\0025a0  "
}

.lst-kix_list_7-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_8-6>li {
    counter-increment: lst-ctn-kix_list_8-6
}

ul.lst-kix_list_3-7 {
    list-style-type: none
}

ul.lst-kix_list_3-8 {
    list-style-type: none
}

.lst-kix_list_10-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_3-1 {
    list-style-type: none
}

ul.lst-kix_list_3-2 {
    list-style-type: none
}

.lst-kix_list_7-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_3-0 {
    list-style-type: none
}

ul.lst-kix_list_3-5 {
    list-style-type: none
}

ul.lst-kix_list_3-6 {
    list-style-type: none
}

ul.lst-kix_list_3-3 {
    list-style-type: none
}

ul.lst-kix_list_3-4 {
    list-style-type: none
}

.lst-kix_list_10-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_10-5>li:before {
    content: "\0025a0  "
}

.lst-kix_list_10-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_11-7 {
    list-style-type: none
}

ul.lst-kix_list_11-6 {
    list-style-type: none
}

.lst-kix_list_4-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_11-5 {
    list-style-type: none
}

ul.lst-kix_list_11-4 {
    list-style-type: none
}

ul.lst-kix_list_11-3 {
    list-style-type: none
}

ul.lst-kix_list_11-2 {
    list-style-type: none
}

ul.lst-kix_list_11-1 {
    list-style-type: none
}

ul.lst-kix_list_11-0 {
    list-style-type: none
}

.lst-kix_list_9-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_4-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_4-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_11-8 {
    list-style-type: none
}

.lst-kix_list_9-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_9-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_9-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_11-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_2-8 {
    list-style-type: none
}

ol.lst-kix_list_8-8 {
    list-style-type: none
}

.lst-kix_list_11-5>li:before {
    content: "\0025a0  "
}

ol.lst-kix_list_8-4 {
    list-style-type: none
}

ul.lst-kix_list_2-2 {
    list-style-type: none
}

ol.lst-kix_list_8-5 {
    list-style-type: none
}

ul.lst-kix_list_2-3 {
    list-style-type: none
}

ol.lst-kix_list_8-6 {
    list-style-type: none
}

ul.lst-kix_list_2-0 {
    list-style-type: none
}

ol.lst-kix_list_8-7 {
    list-style-type: none
}

ul.lst-kix_list_2-1 {
    list-style-type: none
}

ol.lst-kix_list_8-0 {
    list-style-type: none
}

.lst-kix_list_9-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_2-6 {
    list-style-type: none
}

ol.lst-kix_list_8-1 {
    list-style-type: none
}

.lst-kix_list_1-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_2-7 {
    list-style-type: none
}

.lst-kix_list_11-7>li:before {
    content: "\0025cb  "
}

ol.lst-kix_list_8-2 {
    list-style-type: none
}

ul.lst-kix_list_2-4 {
    list-style-type: none
}

ol.lst-kix_list_8-3 {
    list-style-type: none
}

ul.lst-kix_list_2-5 {
    list-style-type: none
}

ul.lst-kix_list_10-0 {
    list-style-type: none
}

.lst-kix_list_8-5>li {
    counter-increment: lst-ctn-kix_list_8-5
}

.lst-kix_list_1-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_10-8 {
    list-style-type: none
}

ul.lst-kix_list_10-7 {
    list-style-type: none
}

.lst-kix_list_1-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_10-6 {
    list-style-type: none
}

ul.lst-kix_list_10-5 {
    list-style-type: none
}

ul.lst-kix_list_10-4 {
    list-style-type: none
}

ul.lst-kix_list_10-3 {
    list-style-type: none
}

.lst-kix_list_1-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_10-2 {
    list-style-type: none
}

ul.lst-kix_list_10-1 {
    list-style-type: none
}

.lst-kix_list_2-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_2-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_3-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_5-7 {
    list-style-type: none
}

ul.lst-kix_list_5-8 {
    list-style-type: none
}

.lst-kix_list_3-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_3-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_5-5 {
    list-style-type: none
}

ul.lst-kix_list_5-6 {
    list-style-type: none
}

.lst-kix_list_8-1>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) ". ";
    font-size: 9pt;
    font-weight: bold;
    color: #000000;
}

.lst-kix_list_8-2>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) ". ";
    font-size: 9pt;
    font-weight: bold;
    color: #000000;
}

.lst-kix_list_8-0>li {
    counter-increment: lst-ctn-kix_list_8-0
}

.lst-kix_list_3-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_5-0 {
    list-style-type: none
}

.lst-kix_list_3-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_5-3 {
    list-style-type: none
}

.lst-kix_list_3-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_5-4 {
    list-style-type: none
}

ul.lst-kix_list_5-1 {
    list-style-type: none
}

.lst-kix_list_8-0>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) ". ";
    font-size: 9pt;
    font-weight: bold;
    color: #000000;
}

ul.lst-kix_list_5-2 {
    list-style-type: none
}

.lst-kix_list_8-7>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) "." counter(lst-ctn-kix_list_8-3, decimal) "." counter(lst-ctn-kix_list_8-4, decimal) "." counter(lst-ctn-kix_list_8-5, decimal) "." counter(lst-ctn-kix_list_8-6, decimal) "." counter(lst-ctn-kix_list_8-7, decimal) ". "
}

.lst-kix_list_3-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_8-5>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) "." counter(lst-ctn-kix_list_8-3, decimal) "." counter(lst-ctn-kix_list_8-4, decimal) "." counter(lst-ctn-kix_list_8-5, decimal) ". "
}

.lst-kix_list_8-6>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) "." counter(lst-ctn-kix_list_8-3, decimal) "." counter(lst-ctn-kix_list_8-4, decimal) "." counter(lst-ctn-kix_list_8-5, decimal) "." counter(lst-ctn-kix_list_8-6, decimal) ". "
}

.lst-kix_list_8-3>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) "." counter(lst-ctn-kix_list_8-3, decimal) ". "
}

.lst-kix_list_3-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_3-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_8-4>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) "." counter(lst-ctn-kix_list_8-3, decimal) "." counter(lst-ctn-kix_list_8-4, decimal) ". "
}

.lst-kix_list_11-2>li:before {
    content: "\0025a0  "
}

ol.lst-kix_list_8-5.start {
    counter-reset: lst-ctn-kix_list_8-5 0
}

.lst-kix_list_11-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_11-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_8-8>li:before {
    content: "" counter(lst-ctn-kix_list_8-0, decimal) "." counter(lst-ctn-kix_list_8-1, decimal) "." counter(lst-ctn-kix_list_8-2, decimal) "." counter(lst-ctn-kix_list_8-3, decimal) "." counter(lst-ctn-kix_list_8-4, decimal) "." counter(lst-ctn-kix_list_8-5, decimal) "." counter(lst-ctn-kix_list_8-6, decimal) "." counter(lst-ctn-kix_list_8-7, decimal) "." counter(lst-ctn-kix_list_8-8, decimal) ". "
}

.lst-kix_list_4-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_4-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_list_4-8 {
    list-style-type: none
}

ul.lst-kix_list_4-6 {
    list-style-type: none
}

ul.lst-kix_list_4-7 {
    list-style-type: none
}

.lst-kix_list_8-4>li {
    counter-increment: lst-ctn-kix_list_8-4
}

ul.lst-kix_list_4-0 {
    list-style-type: none
}

ul.lst-kix_list_4-1 {
    list-style-type: none
}

ul.lst-kix_list_4-4 {
    list-style-type: none
}

ul.lst-kix_list_4-5 {
    list-style-type: none
}

ul.lst-kix_list_4-2 {
    list-style-type: none
}

ul.lst-kix_list_4-3 {
    list-style-type: none
}

ol.lst-kix_list_8-6.start {
    counter-reset: lst-ctn-kix_list_8-6 0
}

ol.lst-kix_list_8-0.start {
    counter-reset: lst-ctn-kix_list_8-0 0
}

.lst-kix_list_7-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_2-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_7-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_7-5>li:before {
    content: "\0025a0  "
}

.lst-kix_list_7-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_7-5 {
    list-style-type: none
}

.lst-kix_list_10-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_7-6 {
    list-style-type: none
}

ul.lst-kix_list_7-3 {
    list-style-type: none
}

ul.lst-kix_list_7-4 {
    list-style-type: none
}

ul.lst-kix_list_7-7 {
    list-style-type: none
}

ul.lst-kix_list_7-8 {
    list-style-type: none
}

ul.lst-kix_list_7-1 {
    list-style-type: none
}

.lst-kix_list_8-7>li {
    counter-increment: lst-ctn-kix_list_8-7
}

ul.lst-kix_list_7-2 {
    list-style-type: none
}

ul.lst-kix_list_7-0 {
    list-style-type: none
}

.lst-kix_list_7-7>li:before {
    content: "\0025cb  "
}

ol.lst-kix_list_8-1.start {
    counter-reset: lst-ctn-kix_list_8-1 0
}

.lst-kix_list_10-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_10-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_4-0>li:before {
    content: "\0025cf  "
}

.lst-kix_list_10-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_4-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_4-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_4-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_9-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_10-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_9-1>li:before {
    content: "\0025cb  "
}

.lst-kix_list_9-7>li:before {
    content: "\0025cb  "
}

.lst-kix_list_11-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_9-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_6-6 {
    list-style-type: none
}

ul.lst-kix_list_6-7 {
    list-style-type: none
}

ul.lst-kix_list_6-4 {
    list-style-type: none
}

ul.lst-kix_list_6-5 {
    list-style-type: none
}

ul.lst-kix_list_6-8 {
    list-style-type: none
}

.lst-kix_list_11-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_6-2 {
    list-style-type: none
}

.lst-kix_list_11-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_6-3 {
    list-style-type: none
}

.lst-kix_list_1-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_list_6-0 {
    list-style-type: none
}

ul.lst-kix_list_6-1 {
    list-style-type: none
}

ol.lst-kix_list_8-4.start {
    counter-reset: lst-ctn-kix_list_8-4 0
}

.lst-kix_list_1-4>li:before {
    content: "\0025cb  "
}

.lst-kix_list_8-8>li {
    counter-increment: lst-ctn-kix_list_8-8
}

.lst-kix_list_1-6>li:before {
    content: "\0025cf  "
}

.lst-kix_list_2-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_list_8-3.start {
    counter-reset: lst-ctn-kix_list_8-3 0
}

.lst-kix_list_1-8>li:before {
    content: "\0025a0  "
}

.lst-kix_list_2-2>li:before {
    content: "\0025a0  "
}

.lst-kix_list_8-2>li {
    counter-increment: lst-ctn-kix_list_8-2
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c57 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c75 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 173.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c18 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c72 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 252pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c79 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c48 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #d9d9d9;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 197.3pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c51 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #cccccc;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 468pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c82 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c70 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 468pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c22 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 63.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 107.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c44 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c45 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 126.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c87 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c37 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 63pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c50 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c93 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 252pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c47 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 173.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c16 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c90 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 252pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c109 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 396pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c35 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 128.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c100 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 469.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c9 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 133.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c105 {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 133.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c33 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 339.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c14 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: bottom;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 252pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c101 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 252pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c107 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 296.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c104 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c89 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 296.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c95 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 297pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c116 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 468pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c63 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c115 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 370.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c38 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 72pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c60 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 173.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c56 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c24 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 171pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c11 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 99pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c114 {
    border-right-style: solid;
    padding: 0pt 5.8pt 0pt 5.8pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 97.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c49 {
    margin-left: 36pt;
    padding-top: 0pt;
    list-style-position: inside;
    text-indent: 18pt;
    padding-bottom: 0pt;
    line-height: 1.6333333333333335;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c34 {
    margin-left: 0pt;
    padding-top: 0pt;
    list-style-position: inside;
    text-indent: 18pt;
    padding-bottom: 0pt;
    line-height: 1.6333333333333335;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c29 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "verdana";
    font-style: normal
}

.c2 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "verdana";
    font-style: normal
}

.c67 {
    margin-left: 44pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.6333333333333335;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c25 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c54 {
    color: #333333;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "verdana";
    font-style: normal
}

.c66 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Arial";
    font-style: normal
}

.c80 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "verdana";
    font-style: normal
}

.c26 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c15 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "verdana";
    font-style: normal
}

.c6 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "verdana";
    font-style: normal
}

.c21 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "verdana";
    font-style: normal
}

.c110 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "verdana";
    font-style: normal
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3625;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c64 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c31 {
    padding-top: 8pt;
    padding-bottom: 8pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c40 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c52 {
    padding-top: 0pt;
    padding-bottom: 5pt;
    line-height: 1.3583333333333334;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 14pt;
    line-height: 1.3583333333333334;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3625;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3625;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c62 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3583333333333334;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3625;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c28 {
    font-size: 9pt;
    font-family: "verdana";
    color: #1155cc;
    font-weight: 400;
    text-decoration: underline
}

.c112 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.3041666666666667;
    page-break-after: avoid;
    text-align: center
}

.c111 {
    padding-top: 11pt;
    padding-bottom: 11pt;
    line-height: 1.6333333333333335;
    text-align: left
}

.c53 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: center
}

.c71 {
    padding-top: 0pt;
    padding-bottom: 9pt;
    line-height: 1.1500000000000001;
    text-align: left
}

.c3 {
    background-color: #ffffff;
    font-size: 9pt;
    font-family: "verdana";
    font-weight: 700
}

.c103 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3499999999999999;
    text-align: justify
}

.c73 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: justify
}

.c20 {
    margin-left: -0.3pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c86 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3583333333333334;
    text-align: center
}

.c99 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3791666666666667;
    text-align: justify
}

.c113 {
    padding-top: 0pt;
    padding-bottom: 5pt;
    line-height: 1.3583333333333334;
    text-align: center
}

.c98 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c118 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3583333333333334;
    text-align: left
}

.c42 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c97 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3041666666666667;
    text-align: center
}

.c77 {
    padding-top: 15pt;
    padding-bottom: 15pt;
    line-height: 1.0;
    text-align: justify
}

.c32 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: left
}

.c108 {
    padding-top: 0pt;
    padding-bottom: 8pt;
    line-height: 1.0;
    text-align: justify
}

.c88 {
    padding-top: 0pt;
    padding-bottom: 9pt;
    line-height: 1.1500000000000001;
    text-align: justify
}

.c94 {
    color: #212121;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c91 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c117 {
    margin-left: -0.4pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c10 {
    background-color: #ffffff;
    font-size: 9pt;
    font-family: "verdana";
    font-weight: 400
}

.c13 {
    font-size: 9pt;
    font-family: "verdana";
    font-weight: 700
}

.c69 {
    font-size: 9pt;
    font-family: "verdana";
    font-weight: 400
}

.c76 {
    background-color: #ffffff;
    max-width: 468pt;
    padding:34px 72pt
}

.c92 {
    font-size: 9pt;
    color: #1155cc;
    text-decoration: underline
}

.c41 {
    margin-left: 0;
    padding-left: 0pt
}

.c23 {
    padding: 0;
    margin: 0
}

.c68 {
    orphans: 2;
    widows: 2
}

.c46 {
    margin-left: 0;
    padding-left: 0pt
}

.c61 {
    color: inherit;
    text-decoration: inherit
}

.c39 {
    margin-left: 0;
    padding-left: 0pt
}

.c119 {
    height: 32pt
}

.c78 {
    height: 35pt
}

.c59 {
    height: 18pt
}

.c36 {
    height: 11pt
}

.c120 {
    margin-left: 2pt
}

.c85 {
    height: 34pt
}

.c19 {
    height: 27pt
}

.c58 {
    background-color: #cccccc
}

.c81 {
    background-color: #ffffff
}

.c30 {
    height: 36pt
}

.c74 {
    height: 25pt
}

.c102 {
    height: 68pt
}

.c65 {
    height: 38pt
}

.c12 {
    font-style: italic
}

.c83 {
    background-color: #d9d9d9
}

.c55 {
    height: 0pt
}

.c43 {
    height: 33pt
}

.c106 {
    height: 24pt
}

.c96 {
    height: 23pt
}

.c5 {
    height: 19pt
}

.c84 {
    height: 84pt
}