@import "../../variables.less"; 
@import "../../mixins.less";
@import "Sprites/Style.less";
@import "FilterList/Style.less";
@import "Activity/Style.less";
@import "SwitchButton/switch-button.less";
@import "ExoMentions/exomentions.less";
@import "AutoSuggestControl/suggestion.less";
.uiSocApplication {
	padding: 20px;
	.uiProfileUserSearch {
		margin-bottom: 10px;
		.uiGrayLightBox{
			.LabelProfileUserSearch{
				margin-top: 4px;
			}
			.contentProfileUserSearch{
				overflow: hidden;
				padding-right: 5px;
				.inputProfileUserSearch{
					width: 33.33%;
					box-sizing: border-box;
					padding:0 5px;
					input{
						width: 100%;
					}
				}
			}
		}
	}
	.uiSpaceSearch {
		margin-bottom: 10px;
	}
	.itemContainer {
		width: 300px;	
		max-width: 400px;
		min-width: 280px;
		margin-bottom: 9px;
		padding: 0px;
		.spaceBox {
			.uiGrayLightBox();
			padding: 10px;
			margin-right: 10px;
			.avatarLarge img {
				border: 1px solid @borderColor;
			}
			.contentBox {
				margin-left: 110px;
				height: 112px;
				overflow: hidden;
				text-overflow: ellipsis;
				.spaceTitle {
					max-height: 42px;
					overflow: hidden;
					margin-top: 0;
					margin-bottom: 3px;
					font-size: (@baseFontSize + 3);
				}
				.ellipsis {
				/* Truncate text in the case the value's length over that it's expecting length,
				*  then append '...' dots at the end of text to show.
				*/

					white-space: nowrap;
					display: block;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.email a {
					font-size: (@baseFontSize - 1);
				}
				.content {
					margin-top: 3px;
					line-height: 16px;
					max-height: 55px;
					overflow: hidden;
				}
			}
			.connectionBtn {
				line-height: 28px;
				min-height: 29px;
  			.statusLabel {
  				text-align: right;
  				margin-top: -25px;
  				line-height: 25px;
				min-height: 24px;
  				display: block;
  				font-size: @baseFontSize;
  			}
				.btn {
					margin: 1px 0 0 10px;
				}
			}
		}
		.checkedBox {
			background-image: url("@{images-path}/social/skin/SpaceBox/checked.png");
			background-position: top right;
			background-repeat: no-repeat;
		}
	}
	.spaceList .itemContainer .spaceBox .contentBox {
		height: 125px;
	}
	.uiGrayLightBox label {
		line-height: 18px;
		margin: 0;
		vertical-align: middle;
	}
	.uiTableProfileUserSearch {
		display: table;
		.column {
			display: table-cell;
			vertical-align: top;
			width: 1%;
			label {
				white-space: nowrap;
				padding-top: 5px;
			}
			input {
				width: 100%!important;
				.box-sizing(border-box);
			}
			&.input-wrap{
				padding: 0 5px;
				width: 20%;
			}
			&:first-child {
				//padding-right: 5px;
			}
			&:last-child {
				padding-left: 5px;
			}
		}
		.has-suggestions {
			position: relative;
			.suggestions {
				min-width: 100%;
			}
		}
	}
}


.uiAvatarUploadContent {
  .resizable {max-height: 120px}
}
.avatarLargeWithBorder + .avatarInfo {
  .control-label {
    width: 100px;
    margin-right: 10px;
    &+ .controls {
      margin-left: 120px;
    }
  }
}

#socialMainLayout{
	table.UITableColumn{
		width: auto;
		.CenterColumnContainerTDContainer{
			width: 100%;
		}
		.uiMiniConnectionsPortlet,
		.uiBasicProfilePortlet {
			max-width: 280px;
			min-width: 200px;
		}
	}
}

#NotifyAnchor {
	text-align: center;
	height: 0px;
}

.UINotify {
	display: inline-block;
	padding: 8px 12px;
}

.uiUserInvitation {
	.mention-input {
		margin-right: 75px;
	}

	.btn {
		padding: 5px 15px;
	}
}

.selectize-input {
	max-height: 135px;
	overflow-y: auto;
}

//responsive for social

@media(max-width: 768px) {
		#NotifyAnchor {
			height: auto;
		}

    .uiSearchInput.searchWithIcon.pull-right {
        float: none;
        margin: 10px 0;
        width: 100%;
    }

    .uiTabNormal .nav-tabs > li > a {
        .border-radius(0)!important;
    }
    #SpaceSearch {
        width: 100%;
    }
    .uiUserActivitiesContainer{
    	margin-top: -8px;
		
	} 
	.uiSocApplication {
		.uiProfileUserSearch {
			.uiGrayLightBox{
				position: relative;
				.contentProfileUserSearch{
					width: 100%;
					.inputProfileUserSearch{
						padding: 0;
					}
				}
				.LabelProfileUserSearch{
					width: 100%;
				}
				.btn{
					bottom: 15px;
					left: 10px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
     .activityStream .commentList .commentItem .actLink {
        right: -10px!important;
         top: -10px;
    }
    .uiSocApplication {
		.uiProfileUserSearch {
			.uiGrayLightBox{
				.contentProfileUserSearch{
					.inputProfileUserSearch{
						width: 100%;
					}
				}
			}
		}
	}
}