.accordion {
	width: 239px;
	font-size: 12px;
	.border-radius(4px 4px 4px 4px);
	border: 1px solid #dedede;
	border-bottom: none;
	background: white;
	a {
	  color: #333333;
	  text-decoration: none;
	}
	.accordion-toggle {
	  padding-right: 20px;
	  font-size: 12px;
	}
	.Expaned {
	  background: none;
	  padding: 0px;
	  .bgSelected {
		  padding: 8px 15px;
		  display: block;
		}
		.iconSelected {
		  background: url("/eXoResources/skin/images/Icons/uiIconsDarkGrey.png") no-repeat -61px -20px;
		  padding: 3px;
		}
	}
	.accordion-toggle:hover {
	  background-color: #f8f8f8;
	}
	.accordion-group {
	  border: none;
	  margin-bottom: 0px;
	  border-bottom: 1px solid #dedede;
	  .border-radius(0px 0px 0px 0px);
	}
	.MenuHeader {
	  margin: 0px;
	  padding: 9px 4px 9px 18px;
	  font-size: 14px;
	  background: #f0f0f0;
	}
	.accordion-body {
		.Selected {
			  background-color: #e8e8e8;
		}
	}
	.collapsed {
	  background: linear-gradient(to bottom, #f8f8f8, #e7e7e7);
	  padding: 0px;
	  .bgSelected {
		  padding: 8px 15px;
		  display: block;
		}
		.iconSelected {
		  background: url("/eXoResources/skin/images/Icons/uiIconsDarkGrey.png") no-repeat -37px -20px;
		  padding: 3px;
		}
	}
	.accordion-inner{
	  border: none;
	}
	.accordion-inner:hover {
	  background-color: #f8f8f8;
	}
	.accordion-normal {
	  border-top: 1px solid #dedede;
	  .accordion-toggle {
		  padding: 8px 15px;
		  display: block;
		}
	}
	.icon-chevron-right{
		float: right;
	}
}

.UIOrganizerManagement{
	.accordion-inner{
		cursor: -moz-grabbing;
	}
	.accordion-inner:hover{
		background: none;
	}
	.accordion-inner .txtLeft{
			margin: 19px 0px 0px 11px;
			width: 140px;
			word-wrap: break-word;
	}
}