//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="iconinbox"></i>.

// For the white version of the icons, just add the .iconwhite class:
// <i class="iconinbox iconwhite"></i>

.uiDropdownWithIcon [class^="uiIcon"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("@{iconSpritePath}");
  background-repeat: no-repeat;
  
}

/* White icons with optional class, or on hover/active states of certain elements */

.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIcon"],
.uiDropdownWithIcon .nav-list > .active > a > [class^="uiIcon"],
.uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIcon"],
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIcon"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIcon"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIcon"],
{
  background-image: url("@{iconWhiteSpritePath}");

}

.uiIconProfile{
	background-position: left top;
}

.uiIconActiviti{
	background-position: left -15px;
}

.uiIconWiki{
	background-position: left -30px;
}

.iconSettings{
	background-position: left -46px;
}
