/*
- Hover-reveal actions on links
- Hover-reveal actions on icons
- Hover-reveal actions on buttons
- Hover-reveal actions on mixed buttons and icons
*/
.hover-action-reveal {
	&.has-border {
		border-bottom: 1px solid @primaryBackground;
		&.selected {
			border-bottom-color: @baseBackground;
		}
	}
	&.has-background {
		&:hover {
			background-color: @revealBackgroundHover
		}
		&.selected {
			background-color: @revealBackgroundSelected;
		}
	}
	.block-show {
		display: block;
	}
	.inline-show {
		display: inline;
	}
	.inline-block-show {
		display: inline-block;
	}
	.inline-hide,
	.inline-block-hide,
	.block-show,
	.hide {
		display: none;
	}
	&:hover, &.selected {
		.block-show,
		.inline-show,
		.inline-block-show {
			display: none;
		}
		.block-hide {
			display: block;
		}
		.inline-hide {
			display: inline;
		}
		.inline-block-hide {
			display: inline-block;
		}
	}
}

.hoverStatus {
	padding: 5px 10px;
    border-radius: 3px;
	box-shadow: inset 0 0 0 1px transparent;

    &.editableField:hover {
        box-shadow: inset 0 0 0 1px  @borderColor;
    }
    &.unEditableField:hover {
    	box-shadow: none;
    }
    &.small {
    	padding: 5px;
    }
}