
/*================= Stream page =================*/

#parentSocialPage {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: inline;

  > div {
    padding: 25px 25px 0;
  }

  .v-application {
    margin-bottom: 22px;
  }

  .UIMobileSwipeParentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;

    > div {
      width:100%;
    }

    > #leftSocialPage, > .leftSocialPage {
      flex: 0 1 70%;
      max-width: 70%;
      padding-right: 10px;
      box-sizing: border-box;
    }

    > #rightSocialPage, > .rightSocialPage {
      flex: 0 1 30%;
      max-width: 30%;
      padding-left: 10px;
      box-sizing: border-box;

      /* Added for sticky container */
      .UIContainer, .NormalContainerBlock, .VIEW-CONTAINER, .UIIntermediateContainer, .UIRowContainer {
        display: inline;
      }
    }
  }
}

.profile-after-about-me-container {
  .UIRowContainer {
    display: flex;

    > div:first-child {
      margin-right: 20px;
      min-width: 65%;
      min-height: 100%;
      height: 174px;
      max-height: 174px;
      flex: 1 1 auto;
    }
    > div:nth-child(2) {
      width: 100%;
      min-height: 100%;
      height: 174px;
      max-height: 174px;
      flex: 1 1 auto;
    }
  }
}

#singlePageApplicationContainer, .singlePageApplication, .SpaceActivityStreamPortletPage {
  max-width: 100%;
  width: @maxTabletWidth;
  padding: 20px 14%;
}

@media (max-width: @maxTabletWidth) {
  #SpacePage {
    margin: auto;
    max-width: ~"calc(100% - 22px)";
  }

  .profile-after-about-me-container {
    .UIRowContainer {
      display: block;

      > div:first-child, > div:nth-child(2) {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        max-height: none;
        height: auto;
      }
    }
  }
}

@media (min-width: @minTabletWidth) {
  #parentSocialPage {
    .UIRowContainer:first-of-type {
      > #rightSocialPage, > .rightSocialPage {
        #stickyBlockDesktop, .stickyBlockDesktop, &.stickyBlockDesktop {
          position: sticky;
          top: 70px;
          height: auto;
          display: block;
          z-index: @zindexStickyContainer;
        }
      }
    }
  }

  /* Make TopBar under drawers and other modals when opened */
  body.hide-scroll #parentSocialPage .UIRowContainer:first-of-type {
    > #rightSocialPage, > .rightSocialPage {
      z-index: @zindexStickyContainerUnder;
    }
  }

}