
/*================= Stream page =================*/

#parentSocialPage {
  padding: 25px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  .UIRowContainer:first-of-type {
    display: flex;
    width:100%;
    flex-wrap: wrap;

    > div {
      width:100%;
      margin-bottom: 22px;
    }

    > #leftSocialPage, > .leftSocialPage {
      flex: 0 1 70%;
      max-width: 70%;
      padding-right: 10px;
      box-sizing: border-box;
    }

    > #rightSocialPage, > .rightSocialPage {
      flex: 0 1 30%;
      max-width: 30%;
      padding-left: 10px;
      box-sizing: border-box;
    }
  }
}  
