@import "../../../variables.less"; 
@import "../../../mixins.less";

.spaceTemplates {
  margin: 12px 10px 0px 10px;
  .uiGrid.table {
    tr {
      td {
        padding: 8px;
        word-break: break-word;
      }
      th {
        text-align: center;
      }
    }
    td {
      font-size: 15px;
    }
  }
  .uiIconWatch {
    cursor: pointer;
  }
}