//
// Search Input
// --------------------------------------------------
.uiSearchInput {
    position: relative;
	form {
		margin: 0;
	}
	input[type="text"] {
		background: @baseBackground url("@{images-path}/SearchInput/Search.png") no-repeat right -1px;
		margin: 0;
		padding-right: 24px;
	}
	input[type="text"]:hover {
		background: @baseBackground url("@{images-path}/SearchInput/Search.png") no-repeat right -28px;
	}
    .advancedSearch,.AdvancedSearch {
      display: block;
      position: absolute;
      right: 4px;
      top: 3px;
    }
    &.searchWithIcon {
      display: inline-block;
      input[type="text"] {
        background-image: none;
      }
      input[type="text"]:hover {
        background-image: none;
      }
    }
}


