div.suggestions {
  border: 1px solid @borderColor;
  position: absolute;
  background: @baseBackground;
  color: @textColor;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  .border-radius(@borderRadiusSmall);
  .box-sizing(border-box);
}

div.suggestions div.resultItem.hover {
  background-color: @dropdownLinkBackgroundHover;
  color: @dropdownBackground;
}

div.suggestions div.resultItem {
  margin:0px;
  padding:5px;
  position:relative;
  height:auto;
  cursor:pointer;
  &:first-child{
  	.border-top-radius(@borderRadiusSmall);
  }
  &:last-child{
  	.border-bottom-radius(@borderRadiusSmall);
  }
}

div.suggestions div.resultItem p {
  margin:0px;
  padding:0px;
}

.atwho-view {
  position:absolute;
  top: 0;
  left: 0;
  display: none;
  margin-top: 18px;
  background: white;
  color: black;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  min-width: 200px;
  z-index: 11110 !important;

  .atwho-header {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-bottom: solid 1px #eaeff1;
    color: #6f8092;
    font-size: 11px;
    font-weight: bold;

    &:hover {
      cursor: default;
    }

    .small {
      color: #6f8092;
      float: right;
      padding-top: 2px;
      margin-right: -5px;
      font-size: 12px;
      font-weight: normal;
    }
  }

  .cur {
    background: #578dc9;
    color: #fff;
  }

  ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
    max-height: 200px;
    overflow-y: auto;

    li {
      display: block;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  small {
    font-size: smaller;
    font-weight: normal;
  }
}