//
// Buttons
// --------------------------------------------------
.btn {
	padding: @paddingDefault;
	border-bottom-color: @btnBorder;
    text-shadow: none!important;
    color: @btnColor;
    &:hover,
    &:focus {
      color: @btnColor;
    }
}
.btn-primary{
	font-family: @sansBoldFontFamily;
	font-weight: bold;
	.buttonBackgroundEXO(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryBorder, @btnPrimaryColor);
}

.uiAction .btn:first-child {
	.btn-primary;
}

.uiAction {
	padding: 15px 0 0;
	text-align: center;
	.btn {
		margin: 0 5px;
		min-width: 50px;
	}
}

.uiActionBorder{
	border-top: 1px solid @borderColor;
	text-align: center;
	padding: 15px 0;
	margin-top: 15px;
}

.uiBox() {
	 >.uiContentBox {
		 >.uiActionBorder{
			margin: 20px -20px 0;
			padding-bottom: 0;
		}
		 .uiAction {
			padding-top: 20px;
		}
	}
	.uiPopup {
		.uiActionBorder{
			margin: 0 -15px;
		}
	}
	.tab-content {
		.uiActionBorder{
			margin: 0 -10px;
		}
	}
}

.uiTabNormal{
	.uiActionBorder{
		margin: 15px -15px 0;
	}
}

.uiPopup {
	.uiActionBorder{
		margin: 15px -15px 0;
	}
}

.uiBox.uiFormWithTitle {
	.uiContentBox {
		.uiActionBorder{
			margin: 10px -15px 0;
		}
	}
}

.uiPortalComposer {
	.uiAction {
		padding: 15px 0;
	}
}

.btn:focus{
	background-position: 0 0;
}

h1,h2,h3,h4 {
	.btn + .btn{
	font-weight: normal;
	}
}


///// Size Button


// X-large
.btn-xlarge {
	font-size: @fontsizeXlarge;
	padding: @paddingXLarge;
}

// Large
.btn-large {
  padding: @paddingLarge;
}

// Small
.btn-small {
  padding: @paddingSmall;
}

// Mini
.btn-mini {
	padding: @paddingMini;
	.border-radius(@borderRadiusSmall - 1px);
}

// Extra (padding-left = padding-right = 15px)
.extra-btn {
	padding-left: 15px;
	padding-right: 15px;
}