@import "../../../variables.less";
@import "../../../mixins.less";
//========================================
body {
	background: url("@{images-path}/platform/portlets/extensions/login_texture.jpg") repeat;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  color: @textColor;
}
.loginBGLight {
	background: @baseBackground;
	border-radius: 80px 80px 80px 80px;
	box-shadow: 0 0 550px @baseBackground;
	left: 50%;
	margin: -100px;
	position: fixed;
	top: 50%;
	width: 200px;
	height: 200px;
}
.uiLogin {
	color: @textColor;
	display: block;
	font-size: 12px;
	left: 50%;
	margin: -180px -195px 0;
	position: fixed;
	top: 50%;
	width: 392px;
	.loginContainer {
		border-radius: 8px;
		background: @baseBackground url("@{images-path}/platform/portlets/extensions/loginBG.png") no-repeat bottom;
		padding: 0 40px 15px;
	}
	.loginHeader {
		background: url("@{images-path}/platform/portlets/extensions/LoginHeader.png") repeat-x scroll 0 0 transparent;
		border: 1px solid #555555;
		border-radius: 0 0 4px 4px;
		margin-top: -8px;
		padding: 8px 12px;
		position: absolute;
		width: 286px;
		box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.43);
		.userLoginIcon {
			background: url("@{images-path}/platform/portlets/extensions/UserLoginIcon.png") no-repeat scroll 0 0 transparent;
			color: @textLightColor;
			font-size: 20px;
			font-weight: 500;
			line-height: 41px;
			padding-left: 52px;
			width: 236px;
		}
	}
	.introBox:after {
		border-bottom: 8px solid #2a323e;
		border-right: 7px solid transparent;
		right: -8px;
	}
	.introBox:before {
		border-bottom: 8px solid #2a323e;
		border-left: 7px solid transparent;
		left: -8px;
	}
	.loginContent {
		padding-top: 45px;
		.username {
			margin-top: 15px;
			background: url("@{images-path}/platform/portlets/extensions/username.png") no-repeat left top;
		}
		.password {
			background: url("@{images-path}/platform/portlets/extensions/password.png") no-repeat left top;
		}
		input {
			width: 260px;
			height: 36px;
			border: solid 1px @inputBorder;
			background: @inputBackground;
			margin: 0 0 14px;
			color: @inputColor;
			.box-shadow(1px 2px 1px rgba(0, 0, 0, 0.075) inset);
			.border-radius(4px);
			padding-left: 50px;
			font-size: 18px;
			outline: none;
		}
		input::-webkit-input-placeholder {
			color: @placeholderText;
		}
		input:-moz-placeholder {
			color: @placeholderText;
		}
		input::-moz-placeholder {
			color: @placeholderText;
		}
		input:-ms-input-placeholder {
			color: @placeholderText;
		}
		input:focus {
			color: @inputFocusColor;
			border-color: @inputFocusBorder;
			.box-shadow(0px 0px 5px rgba(19, 75, 159, 0.45));
			background-position: 0 -41px;
		}
		.loginButton {
			padding: 10px 0 30px;
			.button {
              .border-radius(4px);
				text-align: center;
				width: 313px;
				height: 43px;
				cursor: pointer;
                font-family: @sansBoldFontFamily;
                font-size: 16px;
				font-weight: bold;
				outline: none;
				padding: 0;
              .buttonBackgroundEXO(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryBorder,@btnPrimaryColor);
              .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

			}
		}
		#social-pane {
			text-align: center;
			#SignInDelimiter {
				font-size: @baseFontSize;
			}
			#social-login {
				a {
					display: inline-block;
					margin: 10px 8px 0;
					text-decoration: none;
					.uiIconOauth {
						background-image: url("@{images-path}/platform/portlets/extensions/oauthIcon.png");
						.size(35px, 37px);
						display: block;
					}
					&:hover {
						.uiIconOauth {
							background-image: url("@{images-path}/platform/portlets/extensions/oauthIconHover.png");
						}
					}
					.facebook {
						background-position: 0 0;
					}
					.twitter {
						background-position: -123px 0;
					}
					.linkedin {
						background-position: -82px 0;
					}
					.google {
						background-position: -41px 0;
					}
				}
			}
		}
	}
	.spaceRole {
		clear: both;
		padding: 2px 0 11px;
	}
	.switchBtnDisabled {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
		opacity: 0.5;
	}
	.uiSwitchBtn {
		-webkit-transform: translate3d(0, 0, 0);
		position: relative;
		height: 21px;
		cursor: pointer;
		overflow: hidden;
		padding-top: 1px;
		float: left;
		margin-right: 15px;
		input {
			position: absolute;
			top: 1px;
			left: 30px;
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
			opacity: 0;
		}
		label.switchBtnLabelOff {
			#gradient > .vertical(rgba(255, 255, 255, .0), rgba(0, 0, 0, 0.09));
			border-bottom-right-radius: 9px;
			border-top-right-radius: 9px;
			.box-shadow(0 1px 1px rgba(0, 0, 0, 0.43) inset);
			color: @textMediumColor;
			right: 0;
			text-align: right;
			text-shadow: none;
			height: 17px;
		}
		label.switchBtnLabelOn {
			#gradient > .vertical(@primaryLightColor, @primaryColor);
			border: 1px solid @primaryColor;
			border-bottom-left-radius: 9px;
			border-top-left-radius: 9px;
			.box-shadow(0 3px 5px @primaryDarkColor inset);
			color: @btnPrimaryColor;
			left: 1px;
			min-width: 9px;
			top: 1px;
			text-shadow: none;
			text-align: center;
		}
		label {
			white-space: nowrap;
			font-size: 11px;
			line-height: 16px;
			font-weight: bold;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			cursor: pointer;
			display: block;
			height: 16px;
			position: absolute;
			width: auto;
			top: 1;
			overflow: hidden;
		}
	}
	label.switchBtnLabelOff {
		span {
			line-height: 18px;
			padding-right: 17px;
		}
	}
	label.switchBtnLabelOn {
		span {
			line-height: 16px;
			padding: 0 8px 0 4px;
		}
	}
	.switchBtnHandle {
		#gradient > .vertical(@baseBackground, #F1F1F1);
		.border-radius(50%);
		.box-shadow(0px 1px 2px rgba(0, 0, 0, 0.8));
		cursor: pointer;
		display: block;
		height: 18px;
		left: 1;
		position: absolute;
		top: 1px;
		width: 18px;
	}
	.rememberTxt {
		font-size: 13px;
		color: @textLightColor;
		font-weight: bold;
	}
	.signinFail {
		font-size: 13px;
		line-height: 18px;
		margin: 12px 0 0 1px;
		font-weight: bold;
		width: 310px;
	}
	.uiIconError {
		background: url("@{images-path}/Icons/uiIconsColor.png") no-repeat left top;
		padding-left: 20px;
	}
}
.uiLogin .introBox:before, .uiLogin .introBox:after {
	border-top: medium none;
	content: "";
	display: inline-block;
	height: 0;
	position: absolute;
	top: -1px;
	vertical-align: top;
	width: 0;
	border-top: medium none;
	content: "";
	display: inline-block;
	height: 0;
	position: absolute;
	top: -1px;
	vertical-align: top;
	width: 0;
}
.uiLogin .uiSwitchBtn, .uiSwitchBtn label {
	-moz-user-select: none;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}
#platformInfoDiv {
	font-size: 12px;
	text-align:center;
	color: @textColor;
	opacity: 0.6;
	margin-top: 15px;
}
.titleLogin {
	line-height: 12px;
	padding: 6px 3px 0 0;
	min-height: 31px;
	font-size: 11px;
}

// remove clear button on IE
input::-ms-clear,input[type=password]::-ms-reveal{
  display: none;
}