@import "../../../_bootstrap.less";
@import "../../../variables.less";
@import "../../../customVariables.less";
@import "../../../mixins.less";
@import "../../../component/Buttons/Style.less";
@import "../../../component/Notifications/Style.less";
@import "../../../customStyle.less";

body {
    background: @secondarySkinColor;
    color: @textColor;
    font-family: @sansFontFamily;
    font-size: @baseFontSize;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
    box-sizing: border-box;
}

.popupDarkStyle{
    width: 520px;
    margin: auto;
    border-radius: 4px;
    .popupHeader {
	    background:@uiPopupHeaderBackground;
	    box-shadow: none;
	    height: 42px;
	    padding: 0 10px;
        text-align: center;
	    .popupTitle {
		    color: #61676e;
		    font-size: 18px;
		    font-weight: bold;
		    line-height: 42px;
		}
	}
	.popupContent {
        background: @lightWhite;
	    border-radius: 4px;
	    margin: -1px;
	    padding: 30px 30px 0;
	    .firstText{
	    	color: @darkBlue;
	    	font-weight: bold;
	    }
	    .uiAction {
	    	padding: 20px;
	    	.btn {
			    font-size: 16px;
			    padding: 10px 35px;
			}
		}
		.loading-text{
			background: url("@{images-path}/Loading/loading24x24Light.png");
			-webkit-animation: 1s linear 0s normal none infinite running loading;
            animation: 1s linear 0s normal none infinite running loading;
			.square(24px);
			margin: 50px auto;
			display: none;
		}
		.signin-title{
			display: none;
		}
        .plf-registration {
            background: @lightGrey;
			border-radius: 0 0 4px 4px;
			margin: 0 -30px;
            form {
          		margin: 0;
            }
        }
	}
}
.img-responsive{
	max-width: 100%;
	display: block;
	margin: 15px auto 5px;
}

@media (max-width: 1024px) {
	.popupDarkStyle{
        -webkit-transform : none;
        transform: none;
	}
}

@media (max-width: 480px) {
	.popupDarkStyle {
		.uiAction {
			.btn{
				width: auto;
			}
			input.btn{
				width: 100%;
			}
		}
	}
}