@import "../../../Core.less";

body {
    background:  url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/login_texture.jpg") repeat scroll 0 0;
    color: @textColor;
    font-family: @sansFontFamily;
    font-size: @baseFontSize;
}

.popupDarkStyle{
	border: 1px solid #333333;
    border-radius: 8px;
    left: 50%;
    max-width: 514px;
    top: 50%;
    .translate(-50%, -50%);
    width: 90%;
    .popupHeader {
	    background: #484848 none repeat scroll 0 0;
	    border: 1px solid #333333;
	    border-radius: 6px 6px 0 0;
	    box-shadow: none;
	    height: 42px;
	    margin: -1px;
	    padding: 0 30px;
	    .popupTitle {
		    color: #c1c1c1;
		    font-size: 18px;
		    font-weight: bold;
		    line-height: 42px;
		    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
		}
	}
	.popupContent {
	    background: url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/popupDarkStyleBGL.png") no-repeat scroll left bottom, 
	    url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/popupDarkStyleBGR.png") no-repeat scroll right bottom, 
	    rgba(0, 0, 0, 0) url("/eXoSkin/skin/images/themes/default/platform/portlets/extensions/popupDarkStyleBGC.png") repeat-x scroll center bottom;
	    border: 1px solid #333333;
	    border-radius: 0 0 6px 6px;
	    margin: -1px;
	    padding: 31px;
	    .firstText{
	    	color: @darkBlue;
	    	font-weight: bold;
	    }
	    .uiAction {
	    	padding-top: 50px;
	    	.btn {
			    font-size: 16px;
			    padding: 10px 35px;
			}
		}
		.loading-text{
			background: url("/eXoSkin/skin/images/themes/default/Loading/loading24x24Light.png");
			-webkit-animation: 1s linear 0s normal none infinite running loading;
            animation: 1s linear 0s normal none infinite running loading;
			.square(24px);
			margin: 50px auto;
			display: none;
		}
		.signin-title{
			display: none;
		}
	}
}
.img-responsive{
	max-width: 100%;
	display: block;
	margin: 15px auto 5px;
}

@media (max-width: 1024px) {
	.popupDarkStyle{
        -webkit-transform : none;
        transform: none;
	}
}

@media (max-width: 480px) {
	.popupDarkStyle{
		.popupContent {
		    background: none;
		}
		.uiAction {
			.btn{
				width: auto;
			}
			input.btn{
				width: 100%;
			}
		}
	}
}