/*
@blue  			#2f5e92
*/

//
// Button groups
// --------------------------------------------------

// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group > .btn:first-child {
  margin-left: 0;
	.border-top-left-radius(@borderRadiusSmall);
	.border-bottom-left-radius(@borderRadiusSmall);
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
          .border-top-right-radius(@borderRadiusSmall);
          .border-bottom-right-radius(@borderRadiusSmall);
}

/******* Trung nq ****/


.btn-group.uiDropdownWithIcon .btn{
	.spiter{
		background: url("@{images-path}/Dropdown/ButtonGroups/background/split-white.png") no-repeat center;
		display: inline-block;
	    margin: 0px 5px;
	    vertical-align: middle;
	    .size(22px, 2px);
	}
	> span {
	 vertical-align: middle;
		 &:first-child {
		 	  text-transform: capitalize;
		 }
	}
	.caret {
		margin-top: 0;
	}
	&.btn-primary .spiter {
		background: url("@{images-path}/Dropdown/ButtonGroups/background/split.png") no-repeat;
	}

}

.uiTabSelector .btn-group {
	margin: 5px 0 5px -27%;
	left: 50%;
}

.btn-group > .btn, .btn-group > .dropdown-menu{
	font-size: @baseFontSize ;
}

.btn.dropdown-toggle {
	padding-right: 10px;
}
.btn-group.btn-without-icon {
	.btn.active {
		color: @blue;
	}
}