@import "../variables.less";

@import './lib/fontawesome.less';
@import './lib/materialdesign-icons.less';

.VuetifyApp {
  @import './lib/vuetify.less';
  @import './lib/Chart.min.less';

  .v-application {
    .display-4 {
      font-family: inherit !important;
    }
    .display-3 {
      font-family: inherit !important;
    }
    .display-2 {
      font-family: inherit !important;
    }
    .display-1 {
      font-family: inherit !important;
    }
    .headline {
      font-family: inherit !important;
    }
    .title {
      font-family: inherit !important;
    }

    .v-card__text {
      box-sizing: border-box;
    }

    .container.fluid .layout .flex {
      box-sizing: border-box;
    }
  
    .grid-list-md {
      box-sizing: border-box;
    }

    .v-tooltip__content {
      z-index: 2000!important;
    }

    .v-btn--icon {
      border: 0;
    }

    textarea {
      border: Solid 2px #e1e8ee !important;
    }

    .border-box-sizing {
      box-sizing: border-box;
    }

    .v-divider--vertical {
      vertical-align: middle;
    }

    .v-select__selections {
      max-width: 80%;
    }

    .layout {
      max-width: 100%;
    }

    .v-messages {
      min-height: auto;
    }

    .v-divider {
      margin: 0;
    }

    .v-text-field {
      padding-top: 22px;
    }

    .v-text-field__details {
      display: contents;
    }

    .v-input.text-center input {
      text-align: center;
    }

    .uiPopup .popupHeader {
      margin-bottom: 22px;
    }

    label {
      margin-bottom: 0;
    }

    textarea {
      margin-bottom: 0;
    }

    code {
      padding: 0;
      max-width: 100%;
      white-space: normal;
    }

    .v-input input {
      margin-bottom: 0;
      border: 0;
      box-shadow: none;
    }

    .paragraph {
      white-space: pre-line;
    }

    .v-dialog {
      transform: translate(0);
      max-width: 100vw !important;
      max-height: 100vh;
      margin: 0;
    }

    .v-dialog.with-overflow {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.hide-scroll {
  overflow: hidden;
}

.v-application--wrap {
  min-height: auto !important;
}

@media (max-width : 959px) {
  .VuetifyApp .v-application {
    .uiPopup.v-dialog:not(.v-dialog--fullscreen) .v-card__text {
      max-height: ~"calc(100vh - 235px)";
      overflow-y: auto;
      overflow-x: hidden;

      > .container {
        max-width: ~"calc(100% - 32px)";
      }
    }

    .v-dialog {
      overflow: visible;
      border-radius: 4px;
      transform: translate(0);
      max-width: 100vw !important;
      max-height: 100vh;
      margin: 0;
    }
  }
}
