@import "../variables.less";
@import "../mixins.less";

@import './lib/fontawesome.less';
@import './lib/materialdesign-icons.less';

.VuetifyApp {
  @import './lib/vuetify.less';
  @import './lib/Chart.min.less';

  .v-application {
    background: transparent !important;

    .display-4 {
      font-family: inherit !important;
    }
    .display-3 {
      font-family: inherit !important;
    }
    .display-2 {
      font-family: inherit !important;
    }
    .display-1 {
      font-family: inherit !important;
    }
    .headline {
      font-family: inherit !important;
    }
    .title {
      font-family: inherit !important;
    }

    .v-card__text {
      box-sizing: border-box;
    }

    .container.fluid .layout .flex {
      box-sizing: border-box;
    }
  
    .grid-list-md {
      box-sizing: border-box;
    }

    .v-tooltip__content {
      z-index: 2000!important;
    }

    .v-btn--icon {
      border: 0;
    }

    a {
      color: @primaryColor;
    }

    textarea {
      border: Solid 2px @greyColor !important;
    }

    .border-box-sizing {
      box-sizing: border-box;
    }

    .v-divider--vertical {
      vertical-align: middle;
    }

    .v-select__selections {
      max-width: 80%;
    }

    .layout {
      max-width: 100%;
    }

    .v-messages {
      min-height: auto;
    }

    .v-divider {
      margin: 0;
    }

    .v-text-field {
      padding-top: 22px;
    }

    .v-text-field__details {
      display: contents;
    }

    .v-input.text-center input {
      text-align: center;
    }

    .uiPopup .popupHeader {
      margin-bottom: 22px;
    }

    label {
      margin-bottom: 0;
    }

    textarea {
      margin-bottom: 0;
    }

    code {
      padding: 0;
      max-width: 100%;
      white-space: normal;
    }

    .v-input input {
      margin-bottom: 0;
      border: 0;
      box-shadow: none;
    }

    .paragraph {
      white-space: pre-line;
    }

    .v-dialog {
      transform: translate(0);
      max-width: 100vw !important;
      max-height: 100vh;
      margin: 0;
    }

    .v-dialog.with-overflow {
      overflow-y: auto;
      overflow-x: hidden;
    }
    .v-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      max-height: 100vh;
      max-width: 100vw;
      overflow: hidden;
    }

    // Apply Custom Branding
    .primary {
      background-color: @primaryColor !important;
      border-color: @primaryColor !important;
    }
    .primary--text {
      color: @primaryColor !important;
      caret-color: @primaryColor !important;
    }
    .secondary {
      background-color: @textColor !important;
      border-color: @textColor !important;
    }
    .accent {
      background-color: @primaryColor !important;
      border-color: @primaryColor !important;
    }
    .accent--text {
      color: @primaryColor !important;
      caret-color: @primaryColor !important;
    }
    .v-btn--outlined {
      border: thin solid @primaryColor !important;
    }
    .v-btn, .btn {
      border-bottom-color: @btnBorder !important;
      text-shadow: none !important;
      color: @btnColor !important;
      background-color: @btnBackgroundColor !important;
      background-image: @btnBackgroundImage !important;
      &:hover, &:focus {
        color: @btnColor !important;
      }
    }
    .v-btn.primary, .btn-primary {
      font-family: @sansBoldFontFamily !important;
      font-weight: bold !important;
      .buttonBackgroundEXO(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryBorder, @btnPrimaryColor) !important;
    }
    
    .btn-primary:hover .v-btn.primary:hover {
      background-color: @btnPrimaryHoverBackgroundColor !important;
      background-position: @btnPrimaryHoverBackgroundPosition !important;
    }

    .btn-primary.disabled, .v-btn.primary.disabled,
    .btn-primary[disabled], .v-btn.primary[disabled] {
      background-color: @btnPrimaryDisableBackground !important;
    }
    
    .btn-primary.disabled:hover, .v-btn.primary.disabled:hover,
    .btn-primary[disabled]:hover, .v-btn.primary[disabled]:hover {
      background-color: @btnPrimaryDisableHoverBackground !important;
    }
    
    .uiAction .v-btn.primary.disabled:first-child,
    .uiAction .v-btn.primary[disabled]:first-child ,
    .v-btn.primary[disabled]:first-child,
    .v-btn.primary[disabled],
    .uiAction .btn.disabled:first-child,
    .uiAction .btn[disabled]:first-child,
    .uiAction .btn-primary.disabled:first-child,
    .uiAction .btn-primary[disabled]:first-child ,
    .btn-primary[disabled]:first-child,
    .btn-primary[disabled],
    .uiAction .btn.disabled:first-child,
    .uiAction .btn[disabled]:first-child {
      color: @btnPrimaryColor !important;
    }
    .primary--text {
      color: @primaryColor !important;
    }
    .primary:not([disabled]) {
      background-color: @primaryColor !important;
      color: #fff !important;
    }
    .primary--text {
      color: @primaryColor !important;
      caret-color: @primaryColor !important;
    }
    .v-tab {
      color: @greyColorLighten1 !important;
    }
    .v-tab--active {
      color: @tertiaryColor !important;
    }
    .v-tabs-slider-wrapper {
      .v-tabs-slider.primary {
        background-color: @tertiaryColor !important;
      }
      .v-tabs-slider {
        color: @tertiaryColor !important;
      }
    }
    .row {
      padding: 0;
    }
    .v-text-field .v-input__prepend-inner {
      margin: auto;
    }
  }
}

.v-application--wrap {
  min-height: auto !important;
  position: static;
}

.v-navigation-drawer {
  position: fixed !important;
  z-index: 2000 !important;
}

@media (max-width : 959px) {
  .VuetifyApp .v-application {
    .uiPopup.v-dialog:not(.v-dialog--fullscreen) .v-card__text {
      max-height: ~"calc(100vh - 235px)";
      overflow-y: auto;
      overflow-x: hidden;

      > .container {
        max-width: ~"calc(100% - 32px)";
      }
    }

    .v-dialog {
      overflow: visible;
      border-radius: 4px;
      transform: translate(0);
      max-width: 100vw !important;
      max-height: 100vh;
      margin: 0;
    }
  }
}
