


/************ uiTreeExplorer ****************/

.uiTreeExplorer {
	padding: 15px 0px;
	
	.node {
		white-space: normal;
		padding: 2px 0px;
	
		a {
			display: inline;
			color: #555;
			cursor: pointer;
			line-height: 22px;
			/*white-space: normal;*/
		}
	
		a:hover {
			color: #0053a7;
			text-decoration: none;
		}
	}
	
	.selected a {
		font-weight: bold;
		color: #0053a7;
	}
	
	.treeNodeType {
		padding-left: 22px;
	}
	
	.nodeGroup { 
		padding-left: 18px;
		list-style: none;
		margin: 0px;
	}
	
	.uiIconCollapse, .uiIconExpand, .uiIconEmpty {
		background: url("/eXoResources/skin/images/Tree/tree_plus.gif") no-repeat left 9px;
		width: auto;
		height: auto;
		padding-left: 15px;
		display: block;
	}
	
	.uiIconExpand {
		background: url("/eXoResources/skin/images/Tree/tree_minus.gif") no-repeat left 9px;
	}
	
	.uiIconEmpty {
		background: url("/eXoResources/skin/images/Tree/tree_square.gif") no-repeat left 9px;
	}
	
	.space {
		background: url('/eXoResources/skin/images/Tree/SpaceNode.gif') no-repeat left 1px;
		text-transform: capitalize;
	}
	
	.page {
		background: url('/eXoResources/skin/images/Tree/PageNode.png') no-repeat left 6px;
	}
	
	.wikihome {
		background: url('/eXoResources/skin/images/Tree/wikiHome.png') no-repeat left 8px;
	}
}




