


/************ uiTreeExplorer ****************/

.uiTreeExplorer {
	overflow: auto;
	padding: 10px 0px;
	
	.node {
		line-height: 19px;
		margin-left: 15px;
		padding-top: 7px;
		white-space: nowrap;
		
		.nodeSelected{
			font-weight: bold;
		}
		
		a {
			display: inline;
			color: #555;
			cursor: pointer;
			line-height: 22px;
			/*white-space: normal;*/
		}
	
		a:hover {
			color: #0053a7;
			text-decoration: none;
		}
	}
	
	.SelectedNode a {
		font-weight: bold;
		color: #0053a7;
	}
	
	.treeNodeType {
		padding-left: 22px;
	}
	
	.expandIcon, .uiIconExpand {
		background: url("/eXoResources/skin/images/Tree/uiIconTreePlus.gif") no-repeat left center;
		width: auto;
		height: auto;
		padding-left: 15px;
		display: block;
		margin: 0px;
	}
	
	.collapseIcon, .uiIconCollapse {
		background: url("/eXoResources/skin/images/Tree/uiIconTreeMinus.gif") no-repeat left center;
		padding-left: 15px;
	}
	
	.emptyIcon, .uiIconEmpty {
		background: url("/eXoResources/skin/images/Tree/uiIconTreeSquare.gif") no-repeat left center;
		padding-left: 15px;
	}
	
	.page, .uiIconFile {
		background: url('/eXoResources/skin/images/Tree/uiIconPageNode.png') no-repeat left center;
	}
	
	.wikihome {
		background: url('/eXoResources/skin/images/Tree/uiIconWikiHome.png') no-repeat left center;
	}
}


/*=============== uiTree =============*/

.uiTrees{
	background:#f7f7f7;
	border: 1px solid @tableBorder;
	a{
		display: block;
		color: @grayDark;
	}
	.treeContainer{
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 12px;
		.node{
			line-height: 19px;
			margin-left: 10px;
			padding-top: 7px;
			white-space: nowrap;
			width: 100%;
			.uiIconNode{
				padding-left: 18px;
				.uiIconNode{
					padding-left: 0px;
				}
			}
			.nodeSelected{
				font-weight: bold;
			}
		}
	}
	.collapseIcon {
		background: url("/eXoResources/skin/images/Tree/uiIconTreePlus.gif") no-repeat left center;
		width: auto;
		height: auto;
		padding-left: 15px;
		display: block;
		margin: 0px;
	}
	
	.expandIcon, .uiIconEmpty  {
		background: url("/eXoResources/skin/images/Tree/uiIconTreeMinus.gif") no-repeat left center;
	}
	.uiIconFile {
		background-position: 0px -60px;
		margin-right: 8px;
	}
	.uiIconGroup{
		background-position: -180px -40px;
	}
}

.uiBox {
	 > .uiTrees {
		border: none;
		.border-radius(0 0 @borderRadiusSmall @borderRadiusSmall);
	}
}

