//
// UIUserSelector
// --------------------------------------------------
.uiUserSelector {
	.uiSearch {
		margin: 15px 0;
		input[type="text"] {
			margin: 0 5px 0 0;
		}
		.actionIcon {
			vertical-align: middle;
		}
	}

	.searchByGroup + .searchByUser {
		float: left;
        margin-left: 12px;
	}
	.searchByUser{
		.inputLarge, .inputXLarge {
			position: relative;
      vertical-align: middle;
		}
		.btnSearchUser{
			position: absolute;
			right: 13px;
			top: -1px;
		}
	}
}

.searchByUser  {
  .inputLarge, .inputXLarge {
    vertical-align: middle;
  }
}

@media(max-width: 1024px) {

    .uiUserSelector .searchByGroup + .searchByUser,.uiSearch  .searchByGroup {
        float: none;
        margin-left: 0px;
        display: block;
        input ,select{
            width: 100%;
            margin: 0 0 15px 0!important;
        }
    }

    .uiSearch{
        #filter {
            margin-top: 15px;
        }
        .searchByGroup,.searchByUser {
            position: relative;
            span {
                position: relative;
                display: block;  width: 100%;
            }
            input {
                padding-right: 30px;
            }
            .inputLarge + .actionIcon, .inputXLarge  + .actionIcon {
                position: absolute;
                right: 2px;
                top: 0px;
            }
            .actionIcon,.btnSearchUser {
                position: absolute;
                right: 2px;
                top: 4px;
            }
            .btnSearchUser {
                right: 5px;
            }
        }
        .searchByUser {
            > span {
                float: none;
                display: block;
                input ,select{
                    width: 100%!important;
                }
            }
        }
    }

}