
#topBarMenu {

  .navigation-mobile-menu {

    .v-tabs-slider-wrapper {
      bottom: inherit;
    }

    .v-slide-group__prev--disabled {
      display: none !important;
    }

    .navigation-mobile-menu-tab {
      max-width: 150px;
    }
  }

}

.topBar-navigation-drop-sub-menu {
  margin-left: 6px ~'; /** orientation=lt */ ';
  margin-left: -6px ~'; /** orientation=rt */ ';

  .v-list-item__icon {
    min-width: 33px;
  }
}

.topBar-navigation-drop-menu {

  .v-list-item__icon {
    width: 35px;
    min-width: 33px;
  }
}

.topBar-navigation-bottom-drop-menu {
  margin-bottom: 62px !important;
  box-shadow: 0px -10px 16px -2px rgba(0, 0, 0, 0.2) !important;
}