
#topBarMenu {

  .navigation-mobile-menu {

    .v-tabs-slider-wrapper {
      bottom: inherit;
    }

    .v-slide-group__prev--disabled {
      display: none !important;
    }

    .navigation-mobile-menu-tab {
      max-width: 150px;
    }
  }

}

.topBar-navigation-sub-menu {
  margin-left: 6px ~'; /** orientation=lt */ ';
  margin-right: 6px ~'; /** orientation=rt */ ';

  .v-list-item__icon {
    width: 35px;
    min-width: 33px;
  }
}