@import "../../../variables.less"; 
@import "../../../mixins.less";

.onlineHeader {
    background: @primaryBackgroundLight;
    border: 1px solid @primaryBackgroundHover;
    .border-radius(@borderRadiusSmall);
    color: @textColor;
    line-height: 25px;
    padding: 0 5px 0 8px;
    font-weight: bold;
    margin-bottom: 5px;
}
#OnlinePortlet {
    margin-right: 3px;
	ul {
		list-style-type: none;
		padding-left: 10px;
		padding-right: 0px;

	}
	.gallery li {
		display: inline;
		list-style: none;
		.size(40px,30px);
		margin: 0 5px 5px 0;
		text-align: center;
		img {
			max-height : 36px;
			max-width : 36px;
			margin-bottom: 10px;
			.border-radius(@borderRadiusSmall);
		}
	}
}

#tipName {
    .name {
		font-weight: bold;
		color: @linkColor;
	}
	&+ blockquote {
		margin-top: 5px;
	}
	&+ #connectMessge{
		margin-top: 30px;
	}
	&+ .connectAction {
		margin-top: 35px;
	}
}

.connectAction {
    text-align: center;
    background: @primaryBackground;
    margin:-10px;
    padding: 10px;
	.border-radius(0 0 @borderRadiusSmall @borderRadiusSmall);
}
/* TipTip CSS - Version 1.2 */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 240px;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: @baseFontSize - 1;
	color: @baseColorLight;
	background: @baseBackground;
    padding: 10px;
    border: 1px solid @borderColor;
    .border-radius(@borderRadiusSmall);
    .box-shadow(0 3px 4px rgba(0,0,0,0.15));
}

// Arrows

#tiptip_arrow, #tiptip_arrow_inner{
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
#tiptip_holder  #tiptip_arrow_inner {
  z-index: -1;
}

#tiptip_holder{
	&.tip_left_top  #tiptip_arrow,&.tip_left_bottom  #tiptip_arrow{
		display: none;
	}
  #tiptip_arrow{
    right: -@popoverArrowWidth + 6;
    border-width:  (@popoverArrowWidth - 1)  0  (@popoverArrowWidth - 1)  @popoverArrowWidth ;
    border-left-color: @dropdownBackground;
     #tiptip_arrow_inner {
      border-width: @popoverArrowOuterWidth 0 @popoverArrowOuterWidth @popoverArrowOuterWidth;
      border-left-color: @dropdownBorder;
      bottom: -@popoverArrowOuterWidth;
      right: -1px;
    }
  }
}

#tipName img {
   max-height: 40px;
   max-width: 40px;
   .border-radius(@borderRadiusSmall);
}

#connectMessge {
    background: @primaryBackground;
    margin: -10px;
    padding: 10px 20px;
    color: @baseColorLight;
    font-weight: bold;
}


#tiptip_holder .detail {
	margin-left: 45px;
}