@import "../../../variables.less";
@import "../../../mixins.less";

.onlineHeader {
    background: @primaryBackgroundLight;
    border: 1px solid @primaryBackgroundHover;
    .border-radius(@borderRadiusSmall);
    color: @textColor;
    line-height: 25px;
    padding: 0 5px 0 8px;
    font-weight: bold;
    margin-bottom: 5px;
}
#OnlinePortlet {
    #onlineContent {
        box-shadow : none;
        border: none;
        padding: 15px 10px !important;
        border-radius: 0;
        .title {
            background: transparent;
            border-bottom: none;
            box-shadow: none;
            text-align: left;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 1rem;
            color: @greyColorLighten1;
        }
        ul {
            list-style-type: none;
            text-align: center;
            padding: 10px 0 0 0!important;

         }
        .gallery li {
            display: inline;
            list-style: none;
            .size(40px,30px);
            text-align: center;
            img {
                max-height : 36px;
                max-width : 36px;
                height : 36px;
                width : 36px;
                padding: 5px;
                border-radius: 50%;
            }
        }
	}
}
