
.UIPopup  {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
	margin:-141px 0 0 -225px;
	width: 560px;	
	overflow-y: auto;
	border: 1px solid #cccccc;
	.box-shadow(0 2px 3px rgba(0,0,0,0.25));
	.border-radius(4px);
	.UIPopupHeader {
		background-color: #f0f0f0;
		.box-shadow(inset 0 -1px 0 #cfcfcf);
		border-bottom: 1px solid #f3f3f3;
		.border-radius(4px 4px 0 0 );
		padding: 8px 15px;
		.PopupTitle {
			font-size: 14px;
			font-weight: bold;
		}
	}
	
	.UIPopupContent {
		max-height: 300px;
		overflow-y: auto;
		border-bottom: 1px solid #ccc;
		
		.UIForm {
			margin: 15px 0 0 0;
			textarea {
				width: 258px;
			}
		}
	}
	
	.UIPopupFooter {
		text-align: center;			
		.border-radius( 0 0  4px 4px);
		padding: 16px 0;
	} 
}