// RESPONSIVE EVERYTHING
// ---------------------
/* Large desktop */

.mobile-visible {
  display: none;
}
@media (min-width: 1200px) {

}

/* Small desktop */
@media(max-width: 979px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		max-width: 100%;
	}
	.uiPopup, .UIMaskWorkspace {
		left: 50%!important;
		top: 50%!important;
		position: fixed!important;
		width: 90%!important;
		max-width: 560px;
		max-height: 90%;
		.translate(-50%, -50%);
	}
	.uiPopup {
		.popupHeader{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		overflow: hidden;
		.PopupContent {
			margin-top: 35px;
			margin-bottom: 59px;
			max-height: 300px;
			overflow: auto;
		}
		.uiAction.uiActionBorder {
			background: #fff;
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 0px;
			padding-bottom: 15px;
		}
	}
  .LeftNavigationTDContainer {
    position: fixed;
    left: -251px;
    top:0;
    bottom: 0;
    overflow-y: auto;
    display: block;
    .transition(all 250ms ease);
  }
  #LeftBreadCrumbNavigationPortlet {
    position: fixed;
    top:0;
    width: 250px;
    left: 0;
    & + #LeftNavigationPortlet{
      .uiCompanyNavigationPortlet {
        .title {
         //   position: static;
         //   width: auto;
        }
      }
    }
  }
  #LeftNavigation {

   // padding-top: 50px;
  }

  html, body {
    overflow-x: hidden;
  }
  .RightBodyTDContainer  {
    display: block;
  }
  body {
    position: relative;
    right: 0;
    .transition(all 250ms ease);
  }
  .open-left-bar {
    position: relative;
    right: -250px;
    .LeftNavigationTDContainer {
      left: 0;
    }
    .uiCompanyNavigationPortlet {
      .title{
      //  position: fixed;
      //  top:0;
      //  width: 221px;
      //  left: 0;
      }

    }

  }
  .mobile-visible {
    display: block;
  }

	// NAVIGATION TOP
	body {
		padding-top: 41px!important;
	}
	#NavigationPortlet {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: @zindexFixedNavbar;
	}
	.UIToolbarContainer .uiDropdownWithIcon > a {
		font-size: 0;
	}
	#UIHelpPlatformToolbarPortletTDContainer,
	#chat-status {
		display: none;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {

}