// RESPONSIVE EVERYTHING
// ---------------------
/* Large desktop */
.shareStt  {
  display: none;
  & + .uiCommentBox {
    display: none;
  }

}
 .uiUserActivitiesDisplay  + .activityTop {
    display: none;
}



.mobile-visible, .mask-layer-right  {
  display: none;
}
.accordionBar  {
  .uiIconArrowRight  {
    display: none;
  }
}

.back-item {
  display: none!important;
}
.toggle-left-bar {   
    margin-right: 10px;
    vertical-align: middle;
    width: 28px;
    outline: medium none !important;
    > span {
      background: @toolbarDarkLinkColor;
      display: block;
      font-size: 0;
      margin-bottom: 4px;
      width: 100%;
      height: 5px;
      & + span {
        margin-top: 4px;
      }
  }
}
.UIToolbarContainerLight {
  .toggle-left-bar > span {
    color: @toolbarLightLinkColor;
  }
}

@media (min-width: 1200px) {

}

/* Small desktop */
@media(max-width: 979px) {

}


/* Landscape phone to portrait tablet */
@media (max-width: 1024px) {
  .visible-tablet.toggle-right-bar {
    display: block!important;
  }
  .UIToolbarContainer .uiDropdownWithIcon > a {
    padding: 9px!important;
    display: block;
    overflow: hidden;
    height: 24px;
  }
  .back-item {
    display: block!important;
  }
  .dropdown-submenu {
     > ul {
      display: none!important;
     }
  }
  .toggle-left-bar {   
    display: inline-block;
  }
 body  .OfficeMiddleTDContainer {
    position: relative;
    padding-top: 60px!important;
    .toggle-right-bar {
      cursor: pointer;     
      position: absolute;
      top: 50%;
      margin-top: -8px;
      right: 0;z-index: 9;
      .uiIconArrowRight {
        display: none;
      }
    }
  }
  .open-left-bar .toggle-right-bar { 
        display: none;
  }
  .mobile-hidden {
    display: none;
  }
  #OfficeRight {
    position: relative;
  }
  #UIToolbarContainer {
    position: fixed;
    left: auto;
    right: auto;
    top: 0;
    z-index: 99;
    width: 100%;
    transform: translate(0px);
    transition: transform 400ms ease 0s;
  }

  select, textarea, input[type="text"],
  input[type="password"], input[type="datetime"],
  input[type="datetime-local"], 
  input[type="date"], input[type="month"],
  input[type="time"], input[type="week"],
  input[type="number"], input[type="email"],
  input[type="url"], input[type="search"],
  input[type="tel"], input[type="color"],
  .uneditable-input {
  		max-width: 100%;
  }
  .uiPopup, .UIMaskWorkspace {
  	left: 50%!important;
  	top: 50%!important;
  	position: fixed!important;
  	width: 90%!important;
  	max-width: 560px;
  	max-height: 90%;
  	.translate(-50%, -50%);
  }
  .uiPopup {
  	.popupHeader{
  		position: absolute;
  		top: 0;
  		left: 0;
  		right: 0;
  	}
  	overflow: hidden;
  	.PopupContent {
  		margin-top: 35px;
  		margin-bottom: 59px;
  		max-height: 300px;
  		overflow: auto;
  	}
  	.uiAction.uiActionBorder {
  		background: #fff;
  		position: absolute;
  		left: 15px;
  		right: 15px;
  		bottom: 0px;
  		padding-bottom: 15px;
  	}
  }


.LeftNavigationTDContainer {
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    transform: translate(0px);
    transition: transform 400ms ease 0s;
  }
  .open-left-bar .LeftNavigationTDContainer {
    display: block;
  }

   body .LeftNavigationTDContainer {
    width: 40%;
  }
  .open-left-bar #UIToolbarContainer,.open-left-bar  .RightBodyTDContainer  {
      -webkit-transform: translate(40%);
      transform: translate(40%);
    
  }


.RightBodyTDContainer,#UIToolbarContainer,.RightBodyTDContainer{
   -webkit-transform: translate(0px);
   transform: translate(0px);
    -webkit-transition: transform 400ms ease 0s;
    transition: transform 400ms ease 0s;
}


  .RightBodyTDContainer {
   position: relative;
  }

  html, body {
    overflow-x: hidden;
  }
  .RightBodyTDContainer {
  // ,.OfficeMiddleTDContainer {
    display: block;
  }
  body {
    position: relative;
    right: 0;
    .transition(all 250ms ease);
  }

  body:not('.open-left-bar') {
    padding-top: 41px!important;
    #NavigationPortlet {
    //  position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: @zindexFixedNavbar;
    }
  }
  


	// NAVIGATION TOP

	#NavigationPortlet {

	}
	.UIToolbarContainer .uiDropdownWithIcon > a {
		font-size: 0;
	}
	#UIHelpPlatformToolbarPortletTDContainer,
	#chat-status {
		display: none;
	}
  .AdminToolBarPortletTDContainer  {
    display: none;
  }
   .OfficeMiddleTDContainer + .OfficeRightTDContainer  {
     padding-top: 60px;
      -webkit-transition: all 400ms ease 0s; 
      transition: all 400ms ease 0s; 
    }
     .hidden-right-bar   .OfficeMiddleTDContainer + .OfficeRightTDContainer  {
      display: none;
    
    }
    .accordionBar  {
        .uiIconArrowRight  {
          display: block;
        }
        &.active {
          .uiIconArrowRight  {
             background-position: 0 -119px;
          }
        }
    }
    
    .accordionCont {
      display: none;
      &.active {
        display: block;
      }
    }
    .mask-layer-right {
       height: 100%;
       display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 9;
    }

}//end 1025px

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {   
   

}

@media (max-width: 768px) {

}


@media (max-width: 600px) {
  .OfficeMiddleTDContainer + .OfficeRightTDContainer   ,body .OfficeMiddleTDContainer .toggle-right-bar{
    display: none;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    .visible-tablet.toggle-right-bar {
    display: none!important;
  }
    .mobile-visible {
      display: block;
    }

  body .LeftNavigationTDContainer {
    width: 75%;
  }
  .open-left-bar #UIToolbarContainer,.open-left-bar  .RightBodyTDContainer  {
      -webkit-transform: translate(75%);
      transform: translate(75%);
  }
  .UIToolbarContainer  .UISetupPlatformToolBarPortletIDTDContainer  {
    .dropdown-toggle {display: none;}
  }

   .UIHelpPlatformToolbarPortletTDContainer {
    display: none;
  }
  .avatar-help-action {
    .dropdown-toggle {
      img {.square(26px);}
      float: left;
    }
  }
  .UIHelpPlatformToolbarPortletTDContainer {
    display: none;
  }
  .UIToolbarContainer .uiDropdownWithIcon > .dropdown-menu,
  .UIToolbarContainer .uiNotificationPopoverToolbarPortlet .uiDropdownWithIcon > .dropdown-menu {
    border: medium none!important;
    border-radius: 0!important;
    left: auto!important;
    position: fixed!important;
    right: 0!important;
    top: 42px!important;
    margin: 0!important;
    padding: 0!important;
    > li > a {
      min-width: 180px;
    }
  }
  .UIToolbarContainer .uiNotificationPopoverToolbarPortlet .uiDropdownWithIcon > .dropdown-menu {
    left: 0!important;
  }
  #NavigationPortlet .UIToolbarContainer .uiDropdownWithIcon > .dropdown-menu:after,
  #NavigationPortlet .UIToolbarContainer .uiDropdownWithIcon > .dropdown-menu:before {
    display: none!important;
  }
  .UIToolbarContainer .uiDropdownWithIcon > .dropdown-menu {
    .action_top {
      background: @textMediumColor;
      .action-addon {
        float: right;
        padding: 6px 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
        > span {
            display: inline-block;
            cursor: pointer;
        }
      }
    }
    .avatar-help-action {
      position: relative;
      > a {
        padding: 6px 20px 6px 10px;
        &:hover {
          background: @baseBackground;
          color: @textColor;
        }
      }
      .help-link-box {
        position: absolute;
        top: 50%;
        right: 5px;
        .translate(0, -50%);
      }
      .uiIconPLF24x24Help {
        background-image: url("@{images-path}/platform/skin/Icons/uiIconsPLF24x24Default.png");
      }
      .uiIconPLF24x24Help:hover, .uiIconPLF24x24Help:active {
        background-image: url("@{images-path}/platform/skin/Icons/uiIconsPLF24x24Primary.png");
      }
      + .divider {
        margin: 0;
      }
    }
  }
  .uiDropdownWithIcon .dropdown-menu li > a {
    padding: 8px 20px 8px 10px;
  }
  .mark-layer-mobile {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
  }
  .mark-layer-mobile.active {
    display: block;
  }
  
  .UIToolbarContainerDark {
	.NormalContainerBlock .ToolbarContainer.active {
		.TRContainer > div {
			display: none;
			&.SearchPortletTDContainer {
				display: block;
				a {
					display: none;
				}
				input[name="adminkeyword"] {
					display: inline-block;
				}
				/*.uiQuickSearchResult {
					colgroup col:first-child {
						width: 100%;
					}
					colgroup col:last-child {
						width: 0;
					}
					th {
						display: none;
					}
				}*/
			}
		}
		.uiDropdownWithIcon {
			background: transparent;
			line-height: 41px;
			span {
				
			}
		}
	}
}
}