.UIContainer.UIResponsiveColumnGroupContainer {
  .UIRowContainer.flexColumnContainer {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 979px) {
  .UIContainer.UIResponsiveColumnGroupContainer {
    .UIRowContainer.flexColumnContainer {
      display: flex;
      flex-direction: column;
    }
  } 
}