.UIContainer.SimpleRowContainer {
  margin-left: 10%;
  margin-bottom: 20px;
}
@media (max-width: 1319px) {
  .UIContainer.SimpleRowContainer {
      margin-left: 20px;
      margin-bottom: 20px;
    }
}
@media (max-width: 979px) {
.UIContainer.SimpleRowContainer {
      margin-left: 11px;
      margin-bottom: 20px;
    }
}
.UIContainer.SimpleRowContainer.EdittingContainer { //edit mode container 
  margin-left: 0px;
  margin-bottom: 0px;
}