.UIContainer.SimpleRowContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: var(--allPagesSinglePageApplicationWidth,1320px) !important;   
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100% !important;
  box-sizing: border-box !important;
}
.UIContainer.SimpleRowContainer.EdittingContainer { //edit mode container 
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100% !important;   
}