.UIContainer.SimpleColumnContainer {
  margin-right: 10%;
  width: 100%;
}
@media (max-width: 1319px) {
  .UIContainer.SimpleColumnContainer {
      margin-right: 20px;
      width: 100%;
    }
}
@media (max-width: 979px) {
  .UIContainer.SimpleColumnContainer {
      margin-right: 11px;
      width: 100%;
      min-width : 32%;
    }
}
.UIContainer.SimpleColumnContainer.EdittingContainer { //edit mode container 
  margin-right: 0px;
  width: 100%;
}