@import "../../../variables.less"; 
@import "../../../mixins.less";

@peopleCardParentMargin: 22px;
@peopleCardMaxHeight: 227px;
@peopleCardParentMaxHeight: @peopleCardParentMargin + @peopleCardMaxHeight;

#spaceMembersApplication {
  .selectPeopleFilter {
    height: 40px;
    width: auto;
    padding-right: 20px;
  }
  #spaceMembersBody {
    min-height: ~"calc(100vh - 180px)";
  }
  .noPeopleYetBlock {
    min-height: ~"calc(100vh - 280px)";
    color: @greyColorLighten1;

    .addNewPeopleLink {
      padding-bottom: 3px;
    }
    .noPeopleYetIcons {
      i::before {
        font-size: 140px !important;
        color: @greyColorLighten1;
      }
    }
  }
  .inputPeopleFilter {
    max-width: 215px;
  }
  .showingPeopleText {
    min-width: 120px;
  }

  .peopleFormDrawer {
    textarea {
      resize: none;
    }
  }

  @import "../ProfileCard/Style.less";
}

@media (max-width: @maxMobileWidth) {
  #spaceMembersApplication {
    #spaceMembersToolbar {
      .inputPeopleFilter {
        max-width: none;
      }
    }

    .inputPeopleFilter {
      .v-input__prepend-inner {
        display: none;
      }

      input{
        padding-top: 0;
      }
    }

    @import "../ProfileCard/Style-mobile.less";
  }
}
