@import "../../../variables.less"; 
@import "../../../mixins.less";

#UsersManagement {
  .selectUsersFilter {
    height: 40px;
  }
  .inputUserFilter {
    max-width: 260px;
  }

  input {
    width: 100%;
    max-width: 100%;
  }

  .errorMessage {
    position: absolute;
    top: 40px;
  }

}
