.UIOAuthInvitationForm.uiBox {
	width: 430px;
	margin: 0 auto;
	border-radius: 8px;
	.title {
		border-radius: 8px 8px 0 0;
	}
	.content p {
		margin: 0 0 15px;
		label {
			display: inline-block;
			margin-top: 3px;
		}
		span.pull-right {
			display: inline-block;
			float: right;
		}
	}
}
.uiGroupForm.uiBox {
	width: 515px;
	margin: 0 auto;
	border-radius: 8px;
	.title {
		border-radius: 8px 8px 0 0;
	}
}