
/*================= Stream page =================*/

#StreamPage {
  padding: 20px 10%;
  > div{
    > div {
      > .UIRowContainer:first-of-type {
        display: flex;

        .StreamMainContainer {
          flex: 0 1 70%;
          padding-right: 10px;
          box-sizing: border-box;
        }
        .StreamRightContainer {
          flex: 0 1 30%;
          padding-left: 10px;
          padding-top: 20px;
          box-sizing: border-box;

          #GettingStartedContainer {
            padding-bottom: 20px;
          }
          #PerkstoreWalletContainer {
            padding-top: 10px;

            > div{
              > div {
                > div {
                  > .UIRowContainer:first-of-type {
                    display: flex;

                    #PerkstoreWidgetContainer {
                      flex: 1 1 50%;
                      box-sizing: border-box;
                      padding-right: 5px;
                    }
                    #WalletWidgetContainer {
                      flex: 1 1 50%;
                      box-sizing: border-box;
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
          }
          #WhoIsOnLineContainer {
            padding-top: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: @tabletWidth) {
  #StreamPage {
  > div {
   > div {
    > .UIRowContainer:first-of-type {
        .StreamMainContainer {
          flex: 0 1 100%;
          padding-right: 10px;
          box-sizing: border-box;
          max-width: 100%!important;
          width: 100%!important;
          padding: 0 15px!important;
        }
        .StreamRightContainer {
          box-sizing: border-box;
          max-width: 100%!important;
          width: 100%!important;
          padding: 20px!important;
        }
      }
    }
  }
}
}
