


/************ uiTreeExplorer ****************/

.uiTreeExplorer {
	overflow: auto;
	margin: 0 0 10px 0;
	.node {
		line-height: 19px;
		margin-left: 15px;
		padding-top: 7px;
		white-space: nowrap;
		
		a {
			display: inline;
			color: @textColor;
			cursor: pointer;
			line-height: 22px;
			/*white-space: normal;*/
			vertical-align: middle; 
		}
	
		a:hover {
			text-decoration: none;
			color: @linkColor;
		}
	}
	
	.SelectedNode a {
		font-weight: bold;
		color: @linkColor;
	}
	
	.treeNodeType {
		padding-left: 22px;
	}
	
	.expandIcon {
		background: url("/eXoResources/skin/images/Tree/uiIconTreePlus.gif") no-repeat left center;
		width: auto;
		height: auto;
		padding-left: 15px;
		display: block;
		margin: 0px;
	}
	
	.collapseIcon {
		background: url("/eXoResources/skin/images/Tree/uiIconTreeMinus.gif") no-repeat left center;
		padding-left: 15px;
	}
	
	.emptyIcon {
		background: url("/eXoResources/skin/images/Tree/uiIconTreeSquare.gif") no-repeat left center;
		padding-left: 15px;
	}
	
	.uiIconLoadingTree {
		background: url("/eXoResources/skin/images/Loadding/loading16x16Light.gif") no-repeat left center;
		padding-left: 22px;
	}
	
}


/*=============== uiTree =============*/

.uiTrees{
	background:@grayLighter;
	border: 1px solid @borderColor;
	padding: 4px;
	a {
		display: inline-block;
		color: @textColor;
		width: auto;
	}
	.treeContainer{
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 12px;
		.node{
			line-height: 19px;
			margin-left: 10px;
			padding-top: 7px;
			white-space: nowrap;
			.node {
				padding-left: 10px;
			}
			.uiIconNode{
				padding-left: 16px;
				.uiIconNode{
					padding-left: 0px;
					i {
					.size(16px,16px);	
					display: inline-block;	
					margin-right: 6px;	
				}
				}
				> i {
					.size(16px,16px);	
					display: inline-block;	
					margin-right: 6px;	
				}
			}
			.nodeSelected{
				font-weight: bold;
			}
		}
	}
	.collapseIcon {
		background: url("/eXoResources/skin/images/Tree/uiIconTreePlus.gif") no-repeat left center;
		width: auto;
		height: auto;
		padding-left: 15px;
		margin: 0px;
	}
	.expandIcon{
		background: url("/eXoResources/skin/images/Tree/uiIconTreeMinus.gif") no-repeat left center;
	}
	.uiIconEmpty  {
		background: url("/eXoResources/skin/images/Tree/uiIconTreeSquare.gif") no-repeat left center;
	}
}

.uiBox {
	 > .uiTrees {
		border: none;
		.border-radius(0 0 @borderRadiusSmall @borderRadiusSmall);
	}
}

