@import "../../../variables.less"; 
@import "../../../mixins.less";

@spaceCardParentMargin: 22px;
@spaceCardMaxHeight: 227px;
@spaceCardParentMaxHeight: @spaceCardParentMargin + @spaceCardMaxHeight;

#spacesListApplication {
  .selectSpacesFilter {
    height: 40px;
    width: auto;
    padding-right: 20px;
  }
  #spacesListBody {
    min-height: ~"calc(100vh - 180px)";
  }
  .noSpacesYetBlock {
    min-height: ~"calc(100vh - 280px)";
    color: @greyColorLighten1;

    .addNewSpaceLink {
      padding-bottom: 3px;
    }
    .noSpacesYetIcons {
      i::before {
        font-size: 140px !important;
        color: @greyColorLighten1;
      }
    }
  }
  .inputSpacesFilter {
    max-width: 215px;
  }

  .spaceFormDrawer {
    textarea {
      resize: none;
    }
  }
  @import "../SpaceCard/Style.less";
}

@media (max-width: @maxMobileWidth) {
  #spacesListApplication {
    #spacesListToolbar {
      .addNewSpaceButton {
        padding: 0 !important;
      }
    }

    .inputSpacesFilter {
      .v-input__prepend-inner {
        display: none;
      }

      input{
        padding-top: 0;
      }
    }

    @import "../SpaceCard/Style-mobile.less";
  }
}
