@import "../../../variables.less"; 
@import "../../../mixins.less";

@spaceCardParentMargin: 22px;
@spaceCardMaxHeight: 244px;
@spaceCardParentMaxHeight: @spaceCardParentMargin + @spaceCardMaxHeight;

#spacesListApplication {
  .selectSpacesFilter {
    height: 50px;
    width: auto;
    padding-right: 20px;
  }
  .inputSpacesFilter {
    max-width: 215px;
  }
  .spaceAvatarImg {
    margin-top: -42px;
  }
  .joinSpaceButton, .acceptToJoinSpaceButton, .spaceButtonMenu {
    border: 1px solid @btnPrimaryBorder !important;
    color: @btnPrimaryBorder !important;
    i {
      color: @btnPrimaryBorder !important;
    }
  }
  .cancelRequestToJoinSpaceButton {
    border: 1px solid @btnBorder !important;
    color: @btnColor !important;
  }
  .leaveSpaceButton, .refuseToJoinSpaceButton {
    border: 1px solid @errorColor !important;
    color: @errorColor !important;
  }
  .refuseToJoinSpaceButton {
    margin-top: 2px;
  }
  .spaceInfoIcon {
    border: 1px solid @infoBorder !important;
    background: #fff;
    color: @infoBorder !important;
    height: 26px;
    width: 26px;
  }
  .spaceToolbarIcons {
    margin-top: -100px;
    margin-bottom: 48px;
    display: flex;
  }
  .spaceActionIcon {
    background: transparent !important;
    color: #fff !important;
  }
  .spaceActionMenu {
    right: 21px;
    left: auto !important;
    top: 42px !important;
  }
  .spaceCardFlipped {
    transform: rotateY(180deg);
  }
  .spaceCardFlip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    min-height: @spaceCardParentMaxHeight;
    margin-bottom: @spaceCardParentMargin;
  }
  .spaceCardFront, .spaceCardBack {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: @spaceCardMaxHeight;
    max-height: @spaceCardMaxHeight;
    width: 100%;
    max-width: 100%;
  }
  .spaceCardFront {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .spaceCardBack {
    transform: rotateY(180deg);
  }
  .spaceCardFront, .spaceCardBack {
    > * {
      margin: 0 5px;
    }
  }
  .spaceCardItem {
    height: @spaceCardMaxHeight;
    max-height: @spaceCardMaxHeight;
  }
  .spaceDisplayName {
    color: @textColor !important;
    font-weight: bold;
  }
  .spaceCardActions {
    button i {
      margin-right: 10px;
    }
  }
  .joinSpaceDisabledLabel, .invitationButtons {
    width:100%;
  }
  .acceptToJoinSpaceButtonParent {
    white-space: nowrap;

    .acceptToJoinSpaceButton {
      max-width: 85%;
      width: 85%;
      border-right: 0;
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
    .spaceButtonMenu {
      max-width: 15%;
      width: 15%;
      padding: 5px 20px;
      height: auto;
      border-left: 0;
      margin-left: -11px;
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;

      i {
        margin: 0;
      }
    }
  }
  .notDisplayedManagersOverlay {
    position: absolute;
    right: 24px;
    cursor: pointer;

    .notDisplayedManagers {
      background: #0000005c;
      color: #fff;
      width: 100%;
      height: 100%;
      line-height: 38px;
    }
  }
}

@media (max-width: 768px) {
  #spacesListApplication {
    .spacesListToolbar {
      .addNewSpaceButton {
        padding: 7px 8px;
      }
    }

    .inputSpacesFilter .v-input__prepend-inner {
      display: none;
    }

    .spaceCardFront, .spaceCardItem, .spaceCardFlip {
      height: 90px;
      max-height: 90px;
      min-height: 90px;
    }

    .spaceAvatarImg {
      position: absolute;
      max-width: 50px;
      margin: 7px 10px 0;
      padding-top: 3px !important;
    }

    .spaceToolbarIcons {
      width: 50px;
      right: 3px;
      margin: auto;
      position: absolute;

      .spaceActionIcon {
        color: @btnColor !important;
      }
    }

    .spaceCardActions {
      float: right;
      margin-top: 37px;
      margin-right: 2px;

      button {
        border-radius: 50%;
        padding: 5px;

        i {
          margin-right: 0;
        }
      }
    }

    .spaceCardBody {
      float: left;
      left: 50px;
      position: absolute;
      width: ~"calc(100% - 70px)";
      align-items: start !important;
      text-align: left !important;

      > * {
        float: left;
        padding: 0 !important;
        display: block !important;
        clear: both;
        max-width: 100%;
        margin: 6px 5px 0;
      }
    }

    .invitationButtons {
      display: flex;

      button {
        max-width: none !important;
        width: auto !important;
        min-width: auto !important;
      }

      .refuseToJoinSpaceButton {
        display: block !important;
        margin-top: 0;
        margin-left: 6px !important;
      }

      .acceptToJoinSpaceButtonParent {
        .acceptToJoinSpaceButton {
          border-radius: 50% !important;
        }
      }
    }
  }
}
