@import "../../../variables.less"; 
@import "../../../mixins.less";

#SpaceSettings {
  margin-bottom: 58px;

  .spaceAvatarHoverEdit {
    position: relative !important;
    border: 2px solid @lightWhite !important;

    .changeAvatarButton {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      padding: 0;
      margin: 0;
      display: inline;
  
      .v-input__prepend-outer {
        margin: 0;
  
        button {
          background: rgba(0, 0, 0, 0.2) !important;
          padding: 3px;
          color: #fff;
          border: 1px solid #fff !important;
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
      }
  
      .v-input__control {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
  }

  .v-alert.error {
    position: absolute;
    top: 80px;
    left: ~"calc(260px - 50%)";
  }

  .SpaceApplicationCard {
    min-width: 232px;
    max-width: 232px;
    width: 232px;
    height: 92px;
    border-radius: 4px !important;
    border: 1px solid @greyColorLighten1;

    &.dashed-border {
      border-style: dashed;
    }

    .SpaceApplicationCardImage {
      max-width: 45px;
      width: 45px;
    }
    .SpaceApplicationCardTitle, .SpaceApplicationCardDescription {
      max-width: 133px;
      width: 133px;
    }
    .SpaceApplicationCardAction {
      max-width: 36px;
      width: 36px;
    }
    .v-menu__content {
      top: 30px !important;
      right: 10px !important;
      left: auto !important;
    }
  }
}