
.uiVoteForm{
	.voteFormContainer{
		h6{
			margin: 0px 0px 5px 10px;
			font-weight: normal;
		}
		.uiRatingInfoContainer{
			margin: 0px auto 13px;
			width: 105px;
		}
		.uiIconNormalVote{
			background: url('/eXoResources/skin/images/Vote/uiIconVote.png') no-repeat center -2px;
			width: 17px;
		}
		.uiIconOverVote{
			background: url('/eXoResources/skin/images/Vote/uiIconVote.png') no-repeat center -53px;
			width: 17px;
		}
		.uiIconRatedVote{
			background: url('/eXoResources/skin/images/Vote/uiIconVote.png') no-repeat center -26px;
			width: 17px;
		}
		.uiAction{
			margin:10px -10px -9px -10px;
		}
	}
}