//
// Button groups
// --------------------------------------------------
.btn-group.uiDropdownWithIcon .btn{
	.spiter{
		background: url("@{images-path}/Dropdown/ButtonGroups/split-white.png") no-repeat center;
		display: inline-block;
	    margin: 0 0 0 7px;
	    vertical-align: middle;
	    .size(20px, 2px);
	}
	> span {
	 vertical-align: middle;
		 &:first-child {
		 	  text-transform: capitalize;
		 }
	}
	.caret {
		margin-top: 0;
	}
	&.btn-primary .spiter {
		background: url("@{images-path}/Dropdown/ButtonGroups/split.png") no-repeat;
	}
}

.uiTabSelector .btn-group {
    margin: 5px 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.btn-group > .btn, .btn-group > .dropdown-menu{
    font-size: @baseFontSize ;
}

.btn-group.btn-without-icon {
	.btn.active {
		color: @primaryColor;
	}
}

.btn-group .btn.dropdown-toggle {
	background-color: @btnGroupDropdownBackground;
}
.btn-group.open .btn.dropdown-toggle {
	background-color: @btnGroupOpenDropdownBackground;
}


.btn-group {
	.btn {
		min-width: 0;
		background-color: @btnGroupBackground;
		&:active, &:focus, &.active {
			background-color: @btnGroupActiveBackground;
			border: 1px solid @btnGroupActiveBorderColor;
		}
		&:hover {
			background-color: @btnGroupHoverBackgroundColor;
		}
	}
	.btn-small {
		&.dropdown-toggle .uiIconMiniArrowDown {
			margin: -1px -2px 0 0;
		}
	}
	&.normal-group {
		.btn  {
			a {
				color: @btnColor
			}
			&.active a {
				color: @primaryColor;
			}
		}
		
	}
}