@import "../../../variables.less"; 
@import "../../../mixins.less";

#ProfileContactInformation {
  .fullnameFields, .fullnameLabels {
    > div {
      max-width: 50%;
    }
  }

  .profileContactInformationDrawer {
    select {
      min-width: auto;
      width: auto;
      max-width: 50%;
      height: 40px;
      margin-right: 7px;
      padding-top: 9px;
    }
  }

  input {
    width: 100%;
    max-width: 100%;
  }

  .errorMessage {
    position: absolute;
    top: 40px;
  }

  .multiField {
    position: relative;

    .removeMultiFieldValue {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}
