@import "../../../variables.less";
@import "../../../mixins.less";

#spaceInfosApp {
  padding: 8px 15px 8px 15px;
}
#spaceInfosApp #spaceDescription {
  padding-left: 0;
}
#spaceInfosApp h5 {
  font-weight: bold;
  color: @globalLoadingBorder;
  line-height: 20px;
  margin: 0;
}
#spaceInfosApp #spaceManagersList h5 {
  margin-bottom: 8px;
}
#spaceInfosApp #spaceManagersList .spaceManagerEntry img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#spaceInfosApp #spaceManagersList .spaceManagerEntry {
  margin: 8px 0px;
}
#spaceInfosApp #spaceManagers > li > a {
  color: @textColor;
}