

.uiChangeLanguageForm {
	.uiGrid.table {
		border: none;
	}
	.normalItem .uiIconTick {
    display: none;
	}
	.uiGrid.table td, .uiGrid.table th {
		padding: 8px;
		a {
			color: @textColor;
			cursor: pointer;
		}
	}
}