@import "../../../variables.less"; 
@import "../../../mixins.less";

.uiMembersPortlet {
	.spaceMemberListBox {
	    background-color: @baseBackground;
	    border: 1px solid @borderColor;
	    border-radius: 4px;
	    padding: 10px;
	}
	
	.uiTableProfileUserSearchArrow {
			display: none;
	}
	
	.uiTableProfileUserSearchInput {
			display: block;
	}

	.uiUserInvitation {
		margin: 10px 0;
	}
}

@media (max-width: 768px) {
	.uiMembersPortlet {
		.uiTableProfileUserSearchArrow {
			display: block;
			float:right;
			margin-top:10px;
		}
		.uiTableProfileUserSearchInput {
			display: none;
		}
	}
}