@import "../../../variables.less"; 
@import "../../../mixins.less";

#MembershipTypesManagement {
  .errorMessage {
    position: fixed;
    top: 50px;
    z-index: 2000;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
