@import "../../../variables.less"; 
@import "../../../mixins.less";

@import (css) "/eXoSkin/skin/css/component/ImageCropper/cropper.min.css";

#SpaceHeader {

  &.hasNavigations {
    margin: 0;
    background: #fff !important;
  }

  .changeBannerButton {
    position: absolute;
    padding: 0;
    margin: 0;
    display: inline;
    background: rgba(0, 0, 0, 0.2) !important;
    left: auto;
    top: 15px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
}

