@import "../../../variables.less"; 
@import "../../../mixins.less";

@import (css) "/eXoSkin/skin/css/component/ImageCropper/cropper.min.css";

#SpaceHeader {

  &.hasNavigations {
    margin: 0;
    background: #fff !important;
  }

  .changeBannerButton {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

